@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <h2>Sales</h2>
        <div class="row tile_count">
            <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-bar-chart"></i> Sales Revenue | YTD</span>
                <div class="count">31 230 <i class="fa fa-euro"></i></div>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-line-chart"></i> Monthly Sales Growth</span>
                <div class="count green">13%</div>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-credit-card"></i> Profit</span>
                <div class="count">2,500 <i class="fa fa-euro"></i></div>
            </div>

        </div>
    </div>

