.employees-div, .employees-sales{  
}

.employee-icon{
    font-size: 3em;
    padding-right: 5px;
    color: #1ABB9C;
}

.employees-div{
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}

.count-bottom-div{
    padding-bottom: 5px !important;
}
