.dropdown {
    display: inline-block;
}

.dropdown .period{
    font-size: 0.8em;
    padding-left: 10px;
}

.period{
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown-item{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu{
    padding: 10px;
}

.title, .right-aligned{
    display: inline-block;
}

.right-aligned{
    text-align: right;
    float: right;
    padding-right: 90px;
}

.sales-title{
    padding-bottom: 30px;
}