@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Upload a SAF-T file </h3>
            </div

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Load information from a SAF-T file</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                            @using (Html.BeginForm("Index", "Data", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="file" name="file" id="file" />
                                <input type="submit" value="Submit" />
                                <h2>@ViewBag.Message</h2>
                            }                   
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>